.deps/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.*
configure
configure.scan
depcomp
*.o
install-sh
main
missing
stamp-h1
weighted_graphs/
test*
!test*.c
