final.png
init.png
out.nut
documentation/


/**/*.log
# START autotools ignores
COPYING
INSTALL
install-sh
configure
Makefile
.deps/
/**/.libs/*
libtool
ltmain.sh
/**/Makefile.in
/**/Makefile
/**/m4/
/**/aclocal.m4
/**/autom4te.cache/
/**/compile
/**/config.*
/**/configure.scan
/**/depcomp
/**/missing
stamp-h1
/**/pcg-c
test-driver

# ignore any auxiliary compiled files
glauber_dynamics
lib/weightedgraph/libweightedgraph.a
/**/*.a
/**/*.la
/**/*.o
/**/*.lo
/**/*.trs
/**/test_*
!/**/test/*.c
/**/.dirstamp
